@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prata", serif;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.program{
  padding-left: 1%; 
  padding-right: 1%; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
}

.program-card {
  position: relative;
}